<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="true"
            tools:replace="android:enabled"/>
    </application>
</manifest>
